[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=souzantero
WorkingDirectory=/home/souzantero/sites/SITENAME/source
ExecStart=/home/souzantero/sites/SITENAME/virtualenv/bin/gunicorn --bind \
    unix:/tmp/SITENAME.socket \
    app.wsgi:application

[Install]
WantedBy=multi-user.target